@import "tailwindcss";
@plugin "@heroui/theme";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}